[flake8]
max-line-length=90
max-complexity=10
ignore =
    B950,
    E111,
    E711,
    E712,
    E121,
    E122,
    E123,
    E131,
    E302,
    E251,
    E501,
    F812,
    H101,
    H202,
    H233,
    H301,
    H306,
    H401,
    H403,
    H404,
    H405,
    H501
exclude =
    .venv,
    .git,
    .tox,
    dist,
    doc,
    *openstack/common/*,
    *lib/python*,
    *egg,
    build,
    tools/xenserver*,
    releasenotes,
    migrations,
    __pycache__,
    manage.py,
    settings.py
select = 
        B,
        C,
        E,
        F,
        W,
        T4,
        B9