version: '3'
services:
  app:
    build:
      context: .
    ports:
      - "8080:8080"
    volumes:
      - ./app:/app
    command: >
      sh -c "python manage.py wait_for_db && /
            python manage.py migrate && /
            python manage.py runserver 0.0.0.0:8080"
    env_file:
      - ./.env.docker
    depends_on:
      - pg_db
    restart: always

  pg_db:
    image: postgres:12
    env_file:
      - ./.env.docker
    ports:
      - 5432:5432
    volumes:
      - db-data:/var/lib/postgresql/data
    restart: always

  pg_admin:
    image: dpage/pgadmin4
    env_file:
      - ./.env.docker
    depends_on:
      - pg_db
    ports:
      - 5431:80
    restart: always
    
volumes:
  db-data:
