version: '3'
services:
  app:
    build:
      context: .
    ports:
      - "8080:8080"
    volumes:
      - ./app:/app
    command: >
      sh -c "python manage.py wait_for_db && /
            python manage.py migrate && /
            python manage.py runserver 0.0.0.0:8080"
    environment:
      - DB_HOST=pg_db
      - DB_NAME=users_db
      - DB_USER=root
      - DB_PASS=password
      - DB_PORT=5432
    depends_on:
      - pg_db
    restart: always

  pg_db:
    image: postgres:12
    environment:
      - POSTGRES_DB=users_db
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=password
    ports:
      - 5432:5432
    volumes:
      - db-data:/var/lib/postgresql/data
    restart: always

  pg_admin:
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=root
      - PGADMIN_DEFAULT_PASSWORD=password
    depends_on:
      - pg_db
    ports:
      - 5431:80
    restart: always
    
volumes:
  db-data:
